<div id="rotator">
<p class="textHeading">Company Profile:</p>

<p class="textSimple">QLine is an expressive line in your wardrobe. Focusing on quality and cutting-edge style, QLine is a proudly Canadian company. The fashions and styles offered by QLine draw on inspirations from China, the Ukraine and Canada. We encourage 
you to explore the LookBook, we know you will find something you love!</p><br />

<!-- Begin DWUser_EasyRotator -->
<script type="text/javascript" src="http://c520866.r66.cf2.rackcdn.com/1/js/easy_rotator.min.js"></script>

<div class="dwuserEasyRotator center" style="width: 600px; height: 700px; position:relative; text-align: left; background-color: transparent;">
	<div data-ertype="content" style="display: none;"><ul>
	<li>
		<img class="main" <%= image_tag("595324.jpg", :alt=>"home") %>/>
		<img class="thumb" <%= image_tag("595324.jpg", :alt=>"home") %> />
		<span class="title"><object class="textHeading">QLine</object></span>
		<span class="desc"><object class="textSimple colorwhite"><br />This is QLine: a new brand of cohesive, confident and committed mens/womenswear
                that delivers an attitude driven uniform from diverse and disparate elements. The collection
                displays a Deliberate contrast between precise simplicity and conscious provocation.
                Muted coquettish textiles team with strong bold lines, strict wools, and bridle leathers to
                carve the sharp line of Modernity across both genders. Razor-sharp silhouettes and immaculate
                fabrications are introduced in variations of laser-cut real camel hair, resurrected English
                archive cashmere, luxe shearlings and leathers, Japanese silks and shuttle loom cottons.</object></span>
	</li>
	<li>
		<img class="main" <%= image_tag("395031.jpg", :alt=>"home") %>/>
		<img class="thumb" <%= image_tag("395031.jpg", :alt=>"home") %>/>
		<span class="title"><object class="textHeading">LookBook</object></span>
		<span class="desc"><object class="textSimple colorwhite"><br />Showcasing our Autumn 2014 collection of women's skirts featuring embellished
                pieces in new colour ways, with tonal sequins and lux shimmers.
                The introduction of soft leather skirts and biker-inspired skirts is an exciting addition to the
                new season. An edit designed to be teamed with our buckled boots.</object></span>
	</li>
	<li>
		<img class="main" <%= image_tag("269074.jpg", :alt=>"home") %>/>
		<img class="thumb" <%= image_tag("269074.jpg", :alt=>"home") %>/>
		<span class="title"><object class="textHeading">LookBook</object></span>
		<span class="desc"><object class="textSimple colorwhite"><br />This is Autumn: a new season and a new unaffected and unapologetic collection that
                is confident in silhouette, fabrication and impact, displaying a committed intent to both refined
                and artisan materials from England, Italy and Japan and a quality craftsmanship in execution,
                attitude and silhouette.</object></span>
	</li>
	<li>
		<img class="main" <%= image_tag("allsaibts4.jpg", :alt=>"home") %> />
		<img class="thumb" <%= image_tag("allsaibts4.jpg", :alt=>"home") %>/>
		<span class="title"><object class="textHeading">LookBook</object></span>
		<span class="desc"><object class="textSimple colorwhite"><br />The Autumn 2014 women's knitwear collection brings together simple designs with
                new yarns and knits.
                Cropped jumpers can be worn with our range of dresses and soft leather jackets.
                Cardigans and dresses use new fabric inserts, digital printing, metallic stitching and polished
                trims. An edit designed to flatter all shapes and suit all styles.</object></span>
	</li>
	<li>
		<img class="main" <%= image_tag("tumblr_lm953flCSP1qzau10o1_500.jpg", :alt=>"home") %>/>
		<img class="thumb" <%= image_tag("tumblr_lm953flCSP1qzau10o1_500.jpg", :alt=>"home") %>/>
		<span class="title"><object class="textHeading">LookBook</object></span>
		<span class="desc"><object class="textSimple colorwhite"><br />Autumn 2014 sees the launch of a men's shirt collection fusing exclusive checks,
                stripes and prints, plain fabrics and crisp work wear finishes.
                Premium British millerain, corduroy, denim and cotton twill shirts have been woven on authentic
                Japanese shuttle looms. Laundered for a signature QLine soft hand feel, our men's shirts succeed
                in versatility and design, resting effortlessly with our tailoring range or jeans and jackets.</object></span>
	</li>
	<li>
		<img class="main" <%= image_tag("allsaints2011spring34.jpg", :alt=>"home") %>/>
		<img class="thumb" <%= image_tag("allsaints2011spring34.jpg", :alt=>"home") %>/>
		<span class="title"><object class="textHeading">LookBook</object></span>
		<span class="desc"><object class="textSimple colorwhite"><br />This season our women's shirts have been updated with a well-executed edge to
                sit perfectly with our tailoring range. Cut from specially sourced fabrics and introducing
                new colour ways, this broad range of women's shirts features a variety of silhouettes.</object></span>
	</li>
	<li>
		<img class="main" <%= image_tag("tumblr_lmlkep6ilK1qaw7dbo1_500.jpg", :alt=>"home") %>/>
		<img class="thumb" <%= image_tag("tumblr_lmlkep6ilK1qaw7dbo1_500.jpg", :alt=>"home") %>/>
		<span class="title"><object class="textHeading">LookBook</object></span>
		<span class="desc"><object class="textSimple colorwhite"><br />Our men's graphic tees feature tonic scoops, hand trimmed cut collar necks,
                slouchy crew necks, oversized tees and raw arm vests.
                Artwork is hand painted, collaged or printed using innovative methods and the introduction of
                metallic inks and new washes achieve a unique finish for this season.</object></span>
	</li>
	<li>
		<img class="main" <%= image_tag("AllSaints-2012-22-thumb-466x617-92541.jpg", :alt=>"home") %>/>
		<img class="thumb" <%= image_tag("AllSaints-2012-22-thumb-466x617-92541.jpg", :alt=>"home") %>/>
		<span class="title"><object class="textHeading">LookBook</object></span>
		<span class="desc"><object class="textSimple colorwhite"><br />QLine women's tailoring has taken a dramatic twist with this Autumn 2014
                range of tailored jackets and trousers. Our pieces have been constructed using traditional
                techniques and premium fabrics.
                Edgy, with emphasis on razor-sharp silhouettes, this collection was designed to
                embrace simplicity and sexuality through forward thinking design.</object></span>
	</li>
</ul>
</div>
	<div data-ertype="layout" style="">
            <div class="erimgMain" style="position: absolute; left:0;right:0;top:0;bottom:0;" data-erConfig="{___numTiles:3, scaleMode:'fillArea', imgType:'main', __loopNextButton:false, __arrowButtonMode:'rollover'}">
				<div class="erimgMain_slides erFixCSS3" style="position: absolute; left:50px; top:10px; bottom:10px; right:50px; background:#222222;" style_real="border-radius:15px;">
					<div class="erimgMain_slide">
						<div class="erimgMain_img" style="position: absolute; right: 20px; width: 200px; top: 60px; bottom: 60px;"></div>
						<p class="erimgMain_title" style="position:absolute;left:20px;right:20px;top:18px; padding: 0; margin: 0 0 13px 0; font-weight: bold; font-size: 24px; color: #FFFFFF; font-family:Georgia,'Times New Roman',Times,_serif;"></p>
						<p class="erimgMain_desc" style="position:absolute;left:20px;top:60px;right:240px; color:#FFFFFF; padding: 0; margin: 0; font: 14px/19px Georgia,'Times New Roman',Times,_serif;"></p>
					</div>
				</div>
				<div class="erimgMain_arrowLeft" style="position:absolute; left: 10px; top: 50%; margin-top: -15px;" data-erConfig="{image:'circleSmall', image2:'circleSmall'}"></div>
				<div class="erimgMain_arrowRight" style="position:absolute; right: 10px; top: 50%; margin-top: -15px;"></div>
			</div><div class="erabout erFixCSS3" style="color: #FFF; text-align: left; background: #000; background:rgba(0,0,0,0.93); border: 2px solid #FFF; padding: 20px; font: normal 11px/14px Verdana,_sans; width: 300px; border-radius: 10px; display:none;">
			This <a style="color:#FFF;" href="http://www.dwuser.com/easyrotator/" target="_blank">jQuery slider</a> was created with the free <a style="color:#FFF;" href="http://www.dwuser.com/easyrotator/" target="_blank">EasyRotator</a> software from DWUser.com.
			<br /><br />
			Need a powerful <a style="color:#FFF;" href="http://www.dwuser.com/flashslideshow/" target="_blank">Flash slideshow</a> creator with built-in iPhone/iPad/Android support?  EasyRotator is supported by the <a style="color:#FFF;" href="http://www.dwuser.com/flashslideshow/" target="_blank">XML Flash Slideshow v4 Software</a>.
			<br /><br />
			<a style="color:#FFF;" href="#" class="erabout_ok">OK</a>   
		</div>
		<noscript>
			Rotator powered by <a href="http://www.dwuser.com/easyrotator/">EasyRotator</a>, a free and easy jQuery slider builder from DWUser.com.  Please enable JavaScript to view.
		</noscript>
		<script type="text/javascript">/*Avoid IE gzip bug*/(function(b,c,d){try{if(!b[d]){b[d]="temp";var a=c.createElement("script");a.type="text/javascript";a.src="http://easyrotator.s3.amazonaws.com/1/js/nozip/easy_rotator.min.js";c.getElementsByTagName("head")[0].appendChild(a)}}catch(e){alert("EasyRotator fail; contact support.")}})(window,document,"er_$144");</script>
	</div>
</div>
<!-- End DWUser_EasyRotator -->

</div>