<div class="box">
        
<div class="textHeading"><%= link_to "Men", men_path %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Women", women_path %></div>
<br /><br />

 <table class="center colorwhite">
            <tr>
                <td class="header"></td>
                <td class="header"></td>
                <td class="header"></td>
                <td class="header"></td>
                
            </tr>
            
            <tr>
                <td><%= image_tag("black_shirt.JPG", :alt=>"home") %></td>&nbsp;&nbsp;&nbsp;&nbsp;
                <td><%= image_tag("image1xl.jpg", :alt=>"home") %></td>
                <td><%= image_tag("allsaints1.jpg", :alt=>"home") %></td>
                
            </tr>
            
             
              <tr>
                <td><%= image_tag("AllSaintsLeatherJacket.jpg", :alt=>"home") %></td>
                <td><%= image_tag("allsaints-sale.jpg", :alt=>"home") %></td>
                <td><%= image_tag("477480_shoes_all_saints_glass_and_studs.jpg", :alt=>"home") %></td>
                
            </tr>
              
<tr>
                <td class="header"></td>
                <td class="header"></td>
                <td class="header"></td>
                <td class="header"></td>
            </tr>
             
         </table>

</div>